<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="searchFragment">
    <form th:action="@{/user/member/memberList}" method="get">
      <select name="searchKey">
        <option value="memberId">회원아이디</option>
        <option value="memberName">회원이름</option>
        <option value="memberEmail">회원이메일</option>
        <option value="memberLevel">회원레벨</option>
      </select>
      <input type="text" name="searchValue" placeholder="검색어를 입력해주세요."/>
      <button type="submit">검색</button>
    </form>
  </div>

  <div th:fragment="searchFragment2">
    <form th:action="@{/user/recipe/recipeList}" method="get">
      <select name="searchKey">
        <option value="recipeName">레시피 이름</option>
        <option value="memberId">회원 아이디</option>
      </select>
      <input class="" type="text" name="searchValue" placeholder="검색어를 입력해주세요"/>
      <button type="submit">검색</button>
    </form>
  </div>

</html>