<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_default}">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/admin/css/pjc2.css}">
</head>
<th:block layout:fragment="customJs">
  <script th:src="@{/js/jquery-3.6.4.js}"></script>
  <script>
    $('#submitBtn').click(function(){
      const ingredientCodeEle = $('#ingredientCode');
      let ingredientCode =	ingredientCodeEle.val();
      if(typeof ingredientCode == 'undefined' || ingredientCode == null || ingredientCode == ''){
        alert('재료코드를 입력해주세요');
        ingredientCodeEle.focus();
        return false;
      }
      $('#removeIngredientForm').submit();
    });

    $('#resetBtn').click(function (){
      history.go(-1);
    });
  </script>
</th:block>

<th:block layout:fragment="customContents">
  <form id="removeIngredientForm" th:action="@{/admin/ingredient/removeIngredient}" method="post">

    <table th:object="${ingredientInfo}">
      <tbody>
      <tr>
        <td class="labeltd">
          <label for="ingredientCode">재료코드</label>
        </td>
        <td>
          <input type="text" id="ingredientCode" th:value="${ingredientCode}" name="ingredientCode"  />
        </td>
      </tr>
      <tr>
        <td class="labeltd">
          <label for="ingredientName">재료이름</label>
        </td>
        <td colspan="2">
          <input type="text" id="ingredientName" th:value="${ingredientName}" name="ingredientName" placeholder="재료이름을 입력해 주세요"/>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <button type="submit" id="submitBtn">삭제</button>
          <button type="button" id="resetBtn">입력취소</button>
        </td>
      </tr>
      </tbody>
    </table>
  </form>

</th:block>
</html>