<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_default}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/pjc2.css}">
</head>
<th:block layout:fragment="customJs">
    <script th:src="@{/js/jquery-3.6.4.js}"></script>
    <script>
        $('#resetBtn').click(function (){
            history.go(-1);
        });
        $(function (){
            //alert('제이쿼리')
            function validationCheck(ele){
                let data = $(ele).val();
                let isValid = true;
                if(typeof data == 'undefined' || data == null || data == ''){
                    isValid = false;
                }
                return isValid;
            }


            $('#submitBtn').click(function (){
                const addIngredientForm = $('#addIngredientForm');
                const inputGroup = $('#addIngredientForm input');
                let isSubmit = true;
                inputGroup.each(function (idx, item){
                    isSubmit = validationCheck(item);
                    if(!isSubmit) {
                        let msg = $(item).parents('tr').find('label').text();
                        alert(msg + '입력해주세요.');
                        $(item).focus();
                        return false;
                    }
                });
                if (isSubmit) addIngredientForm.submit();
            });
        });
    </script>
</th:block>

<th:block layout:fragment="customContents">
    <form id="addIngredientForm" th:action="@{/admin/ingredient/addIngredient}" method="post">
        <table>
            <tbody>
<!--            <tr>
                <td class="labeltd">
                    <label for="ingredientCode">재료코드</label>
                </td>
                <td colspan="2">
                    <input type="text" id="ingredientCode" name="ingredientCode" placeholder="재료코드를 입력해 주세요" />
                </td>
            </tr>-->

            <tr>
                <td class="labeltd">
                    <label for="memberId">재료등록 회원이름</label>
                </td>
                <td>
                    <input type="text" id="memberId" name="memberId" placeholder="재료등록할 아이디를 입력해 주세요"/>
                </td>
            </tr>
            <tr>
                <td class="labeltd">
                    <label for="ingredientName">재료이름</label>
                </td>
                <td colspan="2">
                    <input type="text" id="ingredientName" name="ingredientName" placeholder="재료이름을 입력해 주세요" />
                </td>
            </tr>

<tr>
    <td class="labeltd">
        <label for="ingredientCategoryCode">카테고리코드</label>
    </td>
    <td colspan="2">
        <select id="ingredientCategoryCode" name="ingredientCategoryCode">
            <option value="">카테고리를 선택해 주세요</option>
            <option value="ingredient_category_1">소고기</option>
            <option value="ingredient_category_2">돼지고기</option>
            <option value="ingredient_category_3">닭고기</option>
            <option value="ingredient_category_4">육류</option>
            <option value="ingredient_category_5">채소류</option>
            <option value="ingredient_category_6">해물류</option>
            <option value="ingredient_category_7">달걀/유제품</option>
            <option value="ingredient_category_8">가공식품류</option>
            <option value="ingredient_category_9">쌀</option>
            <option value="ingredient_category_10">밀가루</option>
            <option value="ingredient_category_11">건어물류</option>
            <option value="ingredient_category_12">버섯류</option>
            <option value="ingredient_category_13">과일류</option>
            <option value="ingredient_category_14">콩/견과류</option>
            <option value="ingredient_category_15">곡류</option>


            <!-- 필요한 만큼 옵션을 추가할 수 있습니다 -->
        </select>
    </td>
</tr>


<tr>
                <td colspan="5">
                    <button type="submit" id="submitBtn" >재료등록</button>
                    <button type="button" id="resetBtn" >입력취소</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

</th:block>
</html>