<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title></title>

    <!-- Favicon -->
    <link rel="icon" th:href="@{/user/img/core-img/favicon.ico}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" th:href="@{/user/style.css}">

  <!-- Dropzone.js -->
  <link th:href="@{/vendors/dropzone/dist/min/dropzone.min.css}" rel="stylesheet">

  <!-- DataTables -->
  <link th:href="@{/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<th:block th:replace="~{fragment/user_preloader :: preloaderFragment}"></th:block>
	
	<!-- ##### Header Area Start ##### -->
	<header th:replace="~{fragment/user_header :: headerFragment}"></header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start (contents)##### -->
<!--/*    <section th:replace="~{fragment/user_slider :: sliderFragment}"></section> */-->

	<th:block layout:fragment="customContent"></th:block>


    <!-- ##### Hero Area End (contents)##### -->
    <!-- ##### Footer Area Start ##### -->
    <footer th:replace="~{fragment/user_footer :: footerFragment}"></footer>
    <!-- ##### Footer Area End ##### -->

	<!-- jQuery-2.2.4 js -->
    <script th:src="@{/user/js/jquery/jquery-2.2.4.min.js}"></script>
    <!-- Popper js -->
    <script th:src="@{/user/js/bootstrap/popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script th:src="@{/user/js/bootstrap/bootstrap.min.js}"></script>
    <!-- All Plugins js -->
    <script th:src="@{/user/js/plugins/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{/user/js/active.js}"></script>

  <!-- Datatables -->
  <script th:src="@{/user/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
  <script th:src="@{/user/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
  <script th:src="@{/user/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
  <script th:src="@{/user/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
  <script th:src="@{/user/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
  <script th:src="@{/user/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
  <script th:src="@{/user/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
  <script th:src="@{/user/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
  <script th:src="@{/user/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
  <script th:src="@{/user/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
  <script th:src="@{/user/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
  <script th:src="@{/user/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
  <script th:src="@{/user/vendors/jszip/dist/jszip.min.js}"></script>
  <script th:src="@{/user/vendors/pdfmake/build/pdfmake.min.js}"></script>
  <script th:src="@{/user/vendors/pdfmake/build/vfs_fonts.js}"></script>
  <script th:src="@{/user/vendors/sweetalert2/sweetalert2.js}"></script>

	<th:block layout:fragment="customJs"></th:block>




</body>
</html>