@charset "UTF-8";


/*부모요소
#wrapper를 사용함으로써 전체를 감싼다
*/
#wrapper {
	margin: 0 auto;
	text-align: center;
}


/*테이블*/
table{
	padding-left: 10px;
	border: 1px solid black;
	width: 900px;
	table-layout: auto;
	text-align: center;
	margin: 0 auto;
}


/*table header
중앙정렬이 기본 설정
*/

th {
	border: 1px solid black;
	background-color: limegreen;
	color : azure;
	height : 800px;
}

/*table data
왼쪽정렬이 기본 설정
*/
td {
	border: 1px solid black;
	height: 30px;
}


/*input
사용자로부터 받아올 정보를 꾸며주는 요소
*/

input{
	width: 95%;
	height: 80%;
	padding-left: 20px;
}
input::placeholder {
	color: darkgray;
	font-style: italic;
}

/*dropdown*/
select{
	width: 99%;
	height: 90%;
	text-align: center;
	text-align-last: center;
}
/*#submitBtn, #resetBtn 제외 모든 버튼 스타일*/
button:not(#submitBtn, #resetBtn){
	width: 98%;
	height: 90%;
}
/*#submitBtn, #resetBtn 버튼 스타일*/
#submitBtn, #resetBtn{
	width: 47%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#submitBtn{
	margin-right: 30px;
}
.labeltd{
	background-color: limegreen;
	color: white;
	font-weight: bold;
	font-size: larger;
}

table td.labeltd {
	text-align: left;
}

/*.labeltd 클래스에 대한 스타일 td*/
/* 중복된 text-align 속성 제거 */
.labeltd {
	background-color: limegreen;
	color: white;
	font-weight: bold;
	font-size: larger;
	vertical-align: middle;
	padding: 10px 15px;
}





/*체크박스 스타일*/
/*input[type="checkbox"] {
	width: 12px;
	height: 12px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	left: revert;
}

input[type="checkbox"]:checked {
	background-color: #007bff;
}*/
