<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/user_default}">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/user/css/table.css}" />


	<th:block layout:fragment="customJs">
		<script th:inline="javascript">
			$(document).ready(function () {
				let msg = /*[[${msg}]]*/ null;
				console.log(msg);
				if (msg) {
					alert(msg);
				}
			});

		</script>
	</th:block>

	<style>
		.write-button {
			text-align: center;
			margin-top: 30px;
		}

		.write-button a {
			display: inline-block;
			background-color: #007bff;
			color: #fff;
			padding: 10px 20px;
			border-radius: 5px;
			text-decoration: none;
			transition: background-color 0.3s;
		}

		.write-button a:hover {
			background-color: #0062cc;
		}

		.write-button a {
			background-color: #00AEEF;
		}

		.write-button a:hover {
			background-color: #FFB6C1;
		}
	</style>
</head>

<script th:inline="javascript">
	let msg = [[${msg}]];
	if(msg) alert(msg);
</script>

<th:block layout:fragment="customContent">
	<div th:include="~{/user/search/user_search :: searchFragment2}"></div>
	<table class="table-center">
		<thead>
			<tr>
				<th>레시피코드</th>
				<th>레시피명</th>
	<!--			<th>카테고리코드</th>   -->
				<th>아이디</th>
				<th>칼로리</th>
				<th>레시피양</th>
				<th>레시피등록일자</th>
				<th>수정</th>
				<th>삭제</th>
			</tr>
		</thead>
		<tbody>
			<tr th:unless="${recipeList == null}" th:each=" l : ${recipeList}">
				<td th:text="${l.recipeCode}"></td>
				<td th:text="${l.recipeName}"></td>
 <!--				<td th:text="${l.recipeCategoryCode}"></td> -->
				<td th:text="${l.memberId}"></td>
				<td th:text="${l.recipeCal}"></td>
				<td th:text="${l.recipeQuantity} + '인분'"></td>
				<td th:text="${l.regDate}"></td>
				<td>
					<a th:href="@{/user/recipe/user_modifyRecipe(recipeCode=${l.recipeCode})}">수정</a>
				</td>
				<td>
					<a th:href="@{/user/recipe/user_removeRecipe(recipeCode=${l.recipeCode})}">삭제</a>
				</td>
			</tr>
			<tr th:if="${recipeList == null}">
				<td colspan="7">등록된 레시피의 정보가 없습니다.</td>
			</tr>


		</tbody>
	</table>
	<div class="write-button">
		<a th:href="@{/user/recipe/user_addRecipe}">레시피 등록</a>
	</div>
</th:block>

</html>