<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" th:fragment="sidebarFragment">
	<div class="menu_section">
		<h3>ks46team03</h3>
		<ul class="nav side-menu">
			<li><a><i class="fa fa-home"></i> 회원관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a th:href="@{/admin/member/addMember}">회원가입</a></li>
					<li><a th:href="@{/admin/member/memberList}">회원목록</a></li>
				</ul></li>
			<li><a><i class="fa fa-edit"></i> 재료 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a th:href="@{/admin/ingredient/addIngredient}">재료등록</a></li>
					<li><a th:href="@{/admin/ingredient/ingredientList}">재료목록</a></li>
				</ul></li>
			<li><a><i class="fa fa-desktop"></i> 레시피 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a th:href="@{/admin/recipe/addRecipe}">레시피등록</a></li>
					<li><a th:href="@{/admin/recipe/recipeList}">레시피목록</a></li>
				</ul></li>
			<li><a><i class="fa fa-table"></i> 알림 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a th:href="@{/admin/message/messageList}">알림목록</a></li>
					<li><a th:href="@{/admin/message/messageManagementList}">알림내용관리</a></li>
					<li><a th:href="@{/admin/message/addMessage}">알림등록</a></li>
					<li><a th:href="@{/admin/message/messageManagementList}">알림내용관리</a></li>
				</ul></li>
			<li><a><i class="fa fa-bar-chart-o"></i> 게시판관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a th:href="@{/admin/noticeList}">공지 게시판</a></li>
					<li><a th:href="@{/admin/inquiryList}">문의 게시판</a></li>
					<li><a th:href="@{/admin/reportList}">신고 게시판</a></li>
					<li><a th:href="@{/admin/bannedWords}">금칙어 리스트</a></li>
				</ul></li>
		</ul>
	</div>
</div>

</html>