<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <header class="header-area" th:fragment="headerFragment">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">
                    <!-- Breaking News -->
                    <div class="col-12 col-sm-6">
                        <div class="breaking-news">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    <li th:if="${session.SID != null}" id="welcome-message"><a th:text="${session.SID} + '&nbsp' + '님' + '&nbsp&nbsp' + '어서오세요.'" style="color:royalblue;"></a></li>
                                    <li><a th:text="'열려라 냉장고 입니다'" style="color:royalblue;"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Top Social Info -->
                    <div class="col-12 col-sm-6">
                        <div class="top-social-info text-right">
                            <a th:if="${session.SID == null}"     th:href="@{/user/member/login}">로그인</a>
                            <a th:unless="${session.SID == null}" th:href="@{/user/member/logout}">로그아웃</a>
                            <a th:if="${session.SID == null}" th:href="@{/user/member/addMember}">회원가입</a>
                            <a th:unless="${session.SID == null}" th:href="@{/user/member/modifyMember(memberId=${session.SID})}">마이페이지</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="/user/index"><img src="/user/img/core-img/logo.jpg" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/user/index">Home</a></li>

                                    <li><a href="#">카테고리</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-2">
                                                <li class="title">레시피별 카테고리</li>
                                                <br>
                                                <li>&nbsp</li>
                                                <li>&nbsp</li>
                                                <li>&nbsp</li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='recipeCategoryCode', searchValue='recipe_category_1')}">밥요리</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='recipeCategoryCode', searchValue='recipe_category_2')}">샐러드</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='recipeCategoryCode', searchValue='recipe_category_3')}">야식&술안주</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='recipeCategoryCode', searchValue='recipe_category_4')}">스파게티</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='recipeCategoryCode', searchValue='recipe_category_5')}">간식&분식</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='recipeCategoryCode', searchValue='recipe_category_6')}">토스트&샌드위치</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='recipeCategoryCode', searchValue='recipe_category_7')}">디저트</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='recipeCategoryCode', searchValue='recipe_category_8')}">국&탕</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='recipeCategoryCode', searchValue='recipe_category_9')}">찌개&전골</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='recipeCategoryCode', searchValue='recipe_category_10')}">밑반찬</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='recipeCategoryCode', searchValue='recipe_category_11')}">볶음요리</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='recipeCategoryCode', searchValue='recipe_category_12')}">구이</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='recipeCategoryCode', searchValue='recipe_category_13')}">찜&조림</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='recipeCategoryCode', searchValue='recipe_category_14')}">튀김</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='recipeCategoryCode', searchValue='recipe_category_15')}">면요리</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='recipeCategoryCode', searchValue='recipe_category_16')}">기타</a></li>
                                            </ul>
                                            <br>
                                            <ul class="single-mega cn-col-2">
                                                <li class="title">재료별 카테고리</li>
                                                <br>
                                                <li>&nbsp</li>
                                                <li>&nbsp</li>
                                                <li>&nbsp</li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='ingredientCategoryCode', searchValue='ingredient_category_1')}">소고기</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='ingredientCategoryCode', searchValue='ingredient_category_2')}">돼지고기</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='ingredientCategoryCode', searchValue='ingredient_category_3')}">닭고기</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='ingredientCategoryCode', searchValue='ingredient_category_4')}">육류</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='ingredientCategoryCode', searchValue='ingredient_category_5')}">채소류</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='ingredientCategoryCode', searchValue='ingredient_category_6')}">해물류</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='ingredientCategoryCode', searchValue='ingredient_category_7')}">달걀/유제품</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='ingredientCategoryCode', searchValue='ingredient_category_8')}">가공식품류</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='ingredientCategoryCode', searchValue='ingredient_category_9')}">쌀</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='ingredientCategoryCode', searchValue='ingredient_category_10')}">밀가루</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='ingredientCategoryCode', searchValue='ingredient_category_11')}">건어물류</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='ingredientCategoryCode', searchValue='ingredient_category_12')}">버섯류</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='ingredientCategoryCode', searchValue='ingredient_category_13')}">과일류</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='ingredientCategoryCode', searchValue='ingredient_category_14')}">콩/견과류</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='ingredientCategoryCode', searchValue='ingredient_category_15')}">곡류</a></li>
                                                <li><a th:href="@{/user/recipe/recipeList(searchKey='ingredientCategoryCode', searchValue='ingredient_category_16')}">기타</a></li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li><a th:if="${session.SLEVEL != null and (session.SLEVEL == 'member_code_2' or session.SLEVEL == 'member_code_1')}" th:href="@{/user/fridge/userFridge}">냉장고</a></li>
                                    <li><a th:href="@{/user/recipe/recipeList}">레시피</a></li>
                                    <li><a href="receipe-post.html">즐겨찾기</a></li>

                                    <li><a th:if="${session.SLEVEL != null and (session.SLEVEL == 'member_code_2' or session.SLEVEL == 'member_code_1')}" href="#">나의 식단 관리</a>
                                        <ul class="dropdown">
                                            <li><a th:href="@{/user/allergyList}">알러지 재료 등록</a></li>
                                            <li><a th:href="@{/user/calorieList}">제한 칼로리 설정</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#">더보기</a>
                                        <ul class="dropdown">
                                            <li><a th:href="@{/user/noticeList}">공지 게시판</a></li>
                                            <li><a th:href="@{/user/inquiryList}">문의 게시판</a></li>
                                            <li><a th:href="@{/user/reportList}">신고 게시판</a></li>
                                            <li><a th:if="${session.SID == null}"></a>
                                                <a th:unless="${session.SID == null or session.SID != 'id1'}"
                                                   th:href="@{/admin/index(memberId=${session.SID == 'id1' ? 'id1' : ''})}">관리자페이지</a>
                                            </li>
                                        </ul>
                                    </li>


<!--                                    <li><a href="receipe-post.html">4 Vegans</a></li>-->
<!--                                    <li><a href="contact.html">고객센터</a></li>-->
                                </ul>

                                <!-- Newsletter Form -->
                                <div class="search-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

</html>