<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/user_default}">
<head>
	<meta charset="UTF-8">
</head>

<th:block layout:fragment="customContent">

	<!-- ##### Best Receipe Area Start ##### -->
	<section class="best-receipe-area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-heading"><br><br><br>
						<h2>금주의 베스트 레시피</h2>
					</div>
				</div>
			</div>
			<th:block th:unless="${viewRank ==  null}">
				<div class="row">
					<!-- Single Best Recipe Area -->
					<div class="col-12 col-sm-6 col-lg-4" th:each="l, status:${viewRank}">
						<div class="single-best-receipe-area mb-30">
							<img src="/user/img/bg-img/r1.jpg" alt="">
							<div class="receipe-content">
								<a th:href="@{/user/recipe/recipeDetail(recipeCode=${l.recipeCode})}">
									<h5 th:text="${l.recipeName}"></h5>
								</a>
							</div>
						</div>
					</div>
				</div>
			</th:block>
		</div>
	</section>
	<!-- ##### Best Recipe Area End ##### -->

</th:block>


</html>