<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/user_default}">

<th:block layout:fragment="customContent">
	<!-- ##### slider Area Start ##### -->
	<section th:replace="~{fragment/user_slider :: sliderFragment}"></section>
	<!-- ##### slider Area End ##### -->
	<!-- ##### Best Receipe Area Start ##### -->
	<section class="best-receipe-area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-heading"><br><br><br>
						<h3>금주의 베스트 레시피</h3>
					</div>
				</div>
			</div>

			<div class="row">
				<!-- Single Best Receipe Area -->
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="single-best-receipe-area mb-30">
						<img src="/user/img/bg-img/r1.jpg" alt="">
						<div class="receipe-content">
							<a href="receipe-post.html">
								<h5>Sushi Easy Receipy</h5>
							</a>
							<div class="ratings">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
				<!-- Single Best Receipe Area -->
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="single-best-receipe-area mb-30">
						<img src="img/bg-img/r2.jpg" alt="">
						<div class="receipe-content">
							<a href="receipe-post.html">
								<h5>Homemade Burger</h5>
							</a>
							<div class="ratings">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>

				<!-- Single Best Receipe Area -->
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="single-best-receipe-area mb-30">
						<img src="img/bg-img/r3.jpg" alt="">
						<div class="receipe-content">
							<a href="receipe-post.html">
								<h5>Vegan Smoothie</h5>
							</a>
							<div class="ratings">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>

				<!-- Single Best Receipe Area -->
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="single-best-receipe-area mb-30">
						<img src="img/bg-img/r4.jpg" alt="">
						<div class="receipe-content">
							<a href="receipe-post.html">
								<h5>Calabasa soup</h5>
							</a>
							<div class="ratings">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>

				<!-- Single Best Receipe Area -->
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="single-best-receipe-area mb-30">
						<img src="img/bg-img/r5.jpg" alt="">
						<div class="receipe-content">
							<a href="receipe-post.html">
								<h5>Homemade Breakfast</h5>
							</a>
							<div class="ratings">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>

				<!-- Single Best Receipe Area -->
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="single-best-receipe-area mb-30">
						<img src="img/bg-img/r6.jpg" alt="">
						<div class="receipe-content">
							<a href="receipe-post.html">
								<h5>Healthy Fruit Desert</h5>
							</a>
							<div class="ratings">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ##### Best Receipe Area End ##### -->

</th:block>


</html>