<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team03.user.mapper.UserInquiryMapper">
    <resultMap id="inquiryResultMap" type="Inquiry">
        <id     column="inquiry_board_code"         property="inquiryBoardCode"/>
        <result column="member_id"                  property="memberId"/>
        <result column="inquiry_type_code"          property="inquiryTypeCode"/>
        <result column="inquiry_board_title"        property="inquiryBoardTitle"/>
        <result column="inquiry_board_content"      property="inquiryBoardContent"/>
        <result column="inquiry_board_reg_time"     property="inquiryBoardRegTime"/>
    </resultMap>

    <select id="getInquiryInfoByCode" parameterType="String" resultMap="inquiryResultMap">
        /* 특정문의조회*/
        SELECT
        inquiry_board_code
        ,inquiry_type_code
        ,inquiry_board_title
        ,inquiry_board_content
        ,member_id
        FROM
        inquiry_board
        WHERE
        inquiry_board_code = #{inquiryBoardCode}
    </select>

    <update id="modifyInquiry" parameterType="Inquiry">
        /*문의글 수정*/
        UPDATE inquiry_board
        <set>
            <if test="inquiryTypeCode != null and inquiryTypeCode !=''">
                inquiry_type_code = #{inquiryTypeCode}
            </if>
            <if test="inquiryBoardTitle != null and inquiryBoardTitle !=''">
                ,inquiry_board_title = #{inquiryBoardTitle}
            </if>
            <if test="inquiryBoardContent != null and inquiryBoardContent !=''">
                ,inquiry_board_content = #{inquiryBoardContent}
            </if>
        </set>
        WHERE
        inquiry_board_code = #{inquiryBoardCode};
    </update>

    <delete id="removeInquiryByInquiryCode" parameterType="String">
        /* 문의 삭제 */
        DELETE
        FROM
        inquiry_board
        WHERE
        inquiry_board_code = #{inquiryBoardCode};
    </delete>

    <select id="isPosterByInquiryBoardCode" parameterType="String" resultType="boolean">
        /* 문의 게시자 아이디 조회 */
        IF(COUNT(1)=0, 0, 1)
        FROM
        member AS m
        INNER JOIN
        inquiry_board AS i
        ON m.member_id = i.member_id
        WHERE
        m.member_id = #{memberId}
        AND
        i.inquiry_board_code = #{inquiryBoardCode};
    </select>

    <insert id="addInquiry" parameterType="Inquiry">
        /* 문의 등록 */
        INSERT INTO inquiry_board
        (inquiry_board_code, member_id, inquiry_type_code, inquiry_board_title, inquiry_board_content, inquiry_board_reg_time)
        VALUES
        (sf_new_inquiry_code(), #{memberId}, #{inquiryTypeCode}, #{inquiryBoardTitle}, #{inquiryBoardContent}, SYSDATE());
    </insert>

    <select id="getInquiryList" resultMap="inquiryResultMap" parameterType="String">
        /* 문의사항 목록조회 */
        SELECT
            i.inquiry_board_code,
            i.member_id,
            i.inquiry_type_code,
            i.inquiry_board_title,
            i.inquiry_board_reg_time
        FROM
            inquiry_board as i
            INNER JOIN
            member as m
        ON
            i.member_id = m.member_id
        <where>
            <if test="searchKey != null and searchKey != ''">
                ${searchKey} = #{searchValue};
            </if>
        </where>
        order by CAST(SUBSTRING_INDEX(i.inquiry_board_code, 'inquiry_board',-1) AS unsigned) desc
    </select>




</mapper>