<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team03.user.mapper.UserMemberMapper">
    <resultMap id="memberResultMap" type="Member">
        <id     column="member_id" property="memberId"/>
        <result column="level_num" property="levelNum"/>
        <result column="member_pw" property="memberPw"/>
        <result column="member_name" property="memberName"/>
        <result column="member_gender" property="memberGender"/>
        <result column="member_birth" property="memberBirth"/>
        <result column="member_diet" property="memberDiet"/>
        <result column="member_email" property="memberEmail"/>
        <result column="member_phone" property="memberPhone"/>
        <result column="member_nickname" property="memberNickname"/>
        <result column="member_allergy" property="memberAllergy"/>
        <result column="member_remove" property="memberRemove"/>
        <result column="join_date" property="joinDate"/>

<!--        <collection property="sellerList" ofType="Goods">-->
<!--            <id     column="g_code" property="goodsCode"/>-->
<!--            <result column="g_name" property="goodsName"/>-->
<!--            <result column="g_price" property="goodsPrice"/>-->
<!--            <result column="g_seller_id" property="goodsSellerId"/>-->
<!--            <result column="g_reg_date" property="goodsRegDate"/>-->
<!--        </collection>-->

    </resultMap>
    <select id="RecipeListByWriter" parameterType="Map" resultMap="memberResultMap">
        /* 판매자별 상품조회 */
        SELECT
        m.member_id
        ,m.member_name
        ,r.recipe_code
        ,r.recipe_name
        ,r.recipe_category_code
        ,r.member_id
        ,r.reg_date
        FROM
        member as m
        INNER JOIN
        recipe_reg as r
        ON
        m.member_id = r.member_id
        <where>
            <if test="checkArr != null">
                <foreach collection="checkArr" item="column">
                    OR ${column} LIKE CONCAT('%', #{searchValue}, '%')
                </foreach>
            </if>
        </where>
        ORDER BY r.recipe_code;
    </select>

    <delete id="removeMemberById" parameterType="String">
        /* 회원탈퇴 */
        DELETE
        FROM
            member
        WHERE
            member_id = #{memberId}
    </delete>
    <delete id="removeLoginById" parameterType="String">
        /*  로그인 이력 삭제 */
        DELETE
        FROM
            member
        WHERE
            member_id = #{memberId}
    </delete>


    <update id="modifyMember" parameterType="Member">
        UPDATE member
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberPw != null and memberPw != ''">
                member_pw = #{memberPw},
            </if>
            <if test="levelNum != null and levelNum != ''">
                level_num = #{levelNum},
            </if>
            <if test="memberName != null and memberName != ''">
                member_name = #{memberName},
            </if>
            <if test="memberPhone != null and memberPhone != ''">
                member_phone = #{memberPhone},
            </if>
            <if test="memberEmail != null and memberEmail != ''">
                member_email = #{memberEmail},
            </if>
        </trim>
        WHERE
            member_id = #{memberId};
    </update>

        <select id="getMemberInfoById" parameterType="String" resultMap="memberResultMap">
            /* 특정회원조회 */
            SELECT
                m.member_id
                ,m.member_pw
                ,m.level_num
                ,m.member_name
                ,m.member_email
                ,m.member_birth
            FROM
                member as m
            WHERE
                m.member_id = #{memberId};
        </select>

        <insert id="addMember" parameterType="Member">
            /* 회원가입 */
            INSERT INTO member
            (member_id, level_num, member_pw, member_name, member_gender, member_birth, member_diet, member_email, member_phone, member_nickname, member_allergy, member_remove, join_date)
            VALUES
            (#{memberId}, #{levelNum}, #{memberPw}, #{memberName}, #{memberGender}, #{memberBirth}, #{memberDiet}, #{memberEmail}, #{memberPhone}, #{memberNickname}, #{memberAllergy}, #{memberRemove}, CURDATE());
        </insert>
        <select id="idCheck" parameterType="String" resultType="boolean">
            /* 회원아이디 중복체크 */
            SELECT
                if(COUNT(1)=0, 1, 0)
            FROM
                member as m
            WHERE
                m.member_id  = #{memberId};
        </select>

        <select id="getMemberLevelList" resultType="MemberLevel">
            /* 회원 등급 조회 */
            SELECT
            l.level_num 	as levelNum
            ,l.member_level  	as memberLevel
            FROM
            level as l;
        </select>
        <select id="getMemberList"  parameterType="String" resultType="Member">
        /* 회원 목록 조회 */
            select
            m.member_id         as memberId
            ,m.member_pw        as memberPw
            ,m.member_name      as memberName
            ,m.level_num        as levelNum
            ,l.member_level     as memberLevel
            ,m.member_email     as memberEmail
            ,m.member_phone     as memberPhone
            ,m.join_date        as joinDate
            from
            member as m
            INNER JOIN
            level as l
            ON m.level_num = l.level_num
            <where>
                <if test="searchKey != null and searchKey != ''">
                    ${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
                </if>
            </where>
            order by m.member_id;
    </select>


</mapper>