<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team03.user.mapper.UserReportMapper">
    <resultMap id="reportResultMap" type="Report">
        <id     column="report_board_code"          property="reportBoardCode"/>
        <result column="member_id"                  property="memberId"/>
        <result column="report_type_code"           property="reportTypeCode"/>
        <result column="recipe_code"                property="recipeCode"/>
        <result column="report_state_code"          property="reportStateCode"/>
        <result column="report_info_board_content"  property="reportInfoBoardContent"/>
        <result column="report_datetime"            property="reportDatetime"/>
    </resultMap>

    <select id="getReportInfoByCode" parameterType="String" resultMap="reportResultMap">
        /* 특정신고조회*/
        SELECT
        report_board_code
        ,report_type_code
        ,recipe_code
        ,report_state_code
        ,report_info_board_content
        ,member_id
        FROM
        report_board
        WHERE
        report_board_code = #{reportBoardCode}
    </select>

    <update id="modifyReport" parameterType="Report">
        /*신고글 수정*/
        UPDATE report_board
        <set>
            <if test="reportBoardCode != null and reportBoardCode !=''">
                report_board_code = #{reportBoardCode}
            </if>
            <if test="reportTypeCode != null and reportTypeCode !=''">
                ,report_type_code = #{reportTypeCode}
            </if>
            <if test="recipeCode != null and recipeCode !=''">
                ,recipe_code = #{recipeCode}
            </if>
            <if test="reportInfoBoardContent != null and reportInfoBoardContent !=''">
                ,report_info_board_content = #{reportInfoBoardContent}
            </if>
        </set>
        WHERE
        report_board_code = #{reportBoardCode};
    </update>

    <delete id="removeReportByReportCode" parameterType="String">
        /* 신고 삭제 */
        DELETE
        FROM
        report_board
        WHERE
        report_board_code = #{reportBoardCode};
    </delete>

    <select id="isPosterByReportBoardCode" parameterType="String" resultType="boolean">
        /* 문의 게시자 아이디 조회 */
        IF(COUNT(1)=0, 0, 1)
        FROM
        member AS m
        INNER JOIN
        report_board AS r
        ON m.member_id = r.member_id
        WHERE
        m.member_id = #{memberId}
        AND
        r.report_board_code = #{reportBoardCode};
    </select>

    <insert id="addReport" parameterType="Report">
        /* 신고글 등록 */
        INSERT INTO report_board
        (report_board_code, member_id, report_type_code, recipe_code, report_state_code, report_info_board_content, report_datetime)
        VALUES
        (#{reportBoardCode}, #{memberId}, #{reportTypeCode}, #{recipeCode}, #{reportStateCode}, #{reportInfoBoardContent}, SYSDATE());
    </insert>

    <select id="getReportList" resultMap="reportResultMap" parameterType="String">
        /* 신고목록조회 */
        SELECT
            r.report_board_code,
            r.member_id,
            r.report_type_code,
            r.recipe_code,
            r.report_state_code,
            r.report_datetime
        FROM
            report_board as r
            INNER JOIN
            member as m
            ON
            r.member_id = m.member_id
        <where>
            <if test="searchKey != null and searchKey != ''">
                ${searchKey} = #{searchValue};
            </if>
        </where>
            order by report_board_code
    </select>




</mapper>