<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team03.user.mapper.UserRecipeMapper">
        <resultMap id="recipeResultMap" type="Recipe">
        <id     column="recipe_code"            property="recipeCode"/>
        <result column="recipe_name"            property="recipeName"/>
        <result column="recipe_category_code"   property="recipeCategoryCode"/>
        <result column="member_id"              property="memberId"/>
        <result column="recipe_cal"             property="recipeCal"/>
        <result column="recipe_quantity"        property="recipeQuantity"/>
        <result column="reg_date"               property="regDate"/>
        <result column="update_at"              property="updateAt"/>
        <result column="image_url"              property="imageUrl"/>
        <result column="view_count"             property="viewCount"/>
        <result column="recommendation_count"   property="recommendationCount"/>
        <result column="recipe_use_number"      property="recipeUseNumber"/>
<!--        <collection property="sellerList" ofType="Goods">-->
<!--            <id     column="g_code" property="goodsCode"/>-->
<!--            <result column="g_name" property="goodsName"/>-->
<!--            <result column="g_price" property="goodsPrice"/>-->
<!--            <result column="g_seller_id" property="goodsSellerId"/>-->
<!--            <result column="g_reg_date" property="goodsRegDate"/>-->
<!--        </collection>-->
    </resultMap>

    <delete id="removeRecipeById" parameterType="String">
        /* 레시피 삭제 */
        DELETE
        FROM
        recipe_reg
        WHERE
        recipe_code = #{recipeCode};
    </delete>
    <delete id="removeRecipeListById" parameterType="String">
        /*  레시피 이력 삭제 */
        DELETE
        FROM
        recipe_reg
        WHERE
        recipe_code = #{recipe_code};
    </delete>



    <update id="modifyRecipe" parameterType="Recipe">
        /* 레시피 수정 */
        UPDATE recipe_reg
        <trim prefix="SET" suffixOverrides=",">
            <if test="recipeName != null and recipeName != ''">
                recipe_name = #{recipeName},
            </if>
            <if test="recipeCategoryCode != null and recipeCategoryCode != ''">
                recipe_category_code = #{recipeCategoryCode},
            </if>
            <if test="memberId != null and memberId != ''">
                member_id = #{memberId},
            </if>
            <if test="recipeCal != null and recipeCal != ''">
                recipe_cal = #{recipeCal},
            </if>
            <if test="imageUrl != null and imageUrl != ''">
                image_url = #{imageUrl},
            </if>
            update_at = NOW(),

        </trim>
        WHERE
        recipe_code = #{recipeCode};
    </update>


    <select id="getRecipeInfoById" parameterType="String" resultMap="recipeResultMap">
        /* 특정 레시피 조회 */
        SELECT
        recipe_code
        ,recipe_name
        ,recipe_category_code
        ,member_id
        ,recipe_cal
        ,recipe_quantity
        ,image_url
        FROM
        recipe_reg
        WHERE
        recipe_code = #{recipeCode};
    </select>

    <select id="isPosterByRecipeCode" parameterType="String" resultType="boolean">
        /* 문의 게시자 아이디 조회 */
        IF(COUNT(1)=0, 0, 1)
        FROM
        member AS m
        INNER JOIN
        recipe_code AS r
        ON m.member_id = r.member_id
        WHERE
        m.member_id = #{memberId}
        AND
        r.recipe_code = #{recipeCode};
    </select>

    <insert id="addRecipe" parameterType="Recipe">
        /* 레시피등록 */
        INSERT INTO recipe_reg
        (recipe_code, recipe_name, recipe_category_code, member_id, recipe_cal, recipe_quantity, image_url, reg_date)
        VALUES
        (sf_new_recipe_code(), #{recipeName}, #{recipeCategoryCode}, #{memberId}, #{recipeCal}, #{recipeQuantity}, #{imageUrl}, SYSDATE());
    </insert>


    <select id="getRecipeList" parameterType="String" resultType="Recipe">
        <!-- 레시피 목록 조회 -->
        SELECT
        r.recipe_code               as recipeCode,
        r.recipe_name              as recipeName,
        r.recipe_category_code     as recipeCategoryCode,
        r.member_id                as memberId,
        r.recipe_cal               as recipeCal,
        r.recipe_quantity          as recipeQuantity,
        r.reg_date                 as regDate
        FROM
        recipe_reg as r
        INNER JOIN
        member as m
        ON
        r.member_id = m.member_id
        <where>
            <if test="searchKey != null and searchKey != ''">
                ${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
            </if>
        </where>
        ORDER BY CAST(SUBSTRING_INDEX(recipe_code, 'recipe_',-1) AS unsigned), r.recipe_code
    </select>


</mapper>