<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team03.admin.mapper.IngredientMapper">
    <resultMap id="ingredientResultMap" type="ingredient">
        <id     column="ingredient_code"            property="ingredientCode"/>
        <result column="member_id"                  property="memberId"/>
        <result column="ingredient_category_code"   property="ingredientCategoryCode"/>
        <result column="ingredient_name"            property="ingredientName"/>
        <result column="reg_time"                   property="regTime"/>
        <result column="update_time"                property="updateTime"/>
        <result column="delete_time"                property="deleteTime"/>
    </resultMap>

    <delete id="removeIngredientById" parameterType="String">
        /* 회원 탈퇴 */
        DELETE
        FROM
        ingredient_registration
        WHERE
        ingredient_code = #{ingredientCode};
    </delete>
    <delete id="removeIngredientListById" parameterType="String">
        /*  로그인 이력 삭제 */
        DELETE
        FROM
        ingredient_registration
        WHERE
        ingredient_code = #{ingredientCode};
    </delete>


    <update id="modifyIngredient" parameterType="Ingredient">
        /* 회원 정보 수정 */
        UPDATE ingredient_registration
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberId != null and memberId != ''">
                member_id = #{memberId},
            </if>
            <if test="ingredientCategoryCode != null and ingredientCategoryCode != ''">
                ingredient_category_code = #{ingredientCategoryCode},
            </if>
            <if test="ingredientName != null and ingredientName != ''">
                ingredient_name = #{ingredientName},
            </if>
            update_time = NOW(),
            <if test="deleteTime != null and deleteTime != ''">
                delete_time = #{deleteTime},
            </if>
        </trim>
        WHERE
        ingredient_code = #{ingredientCode};
    </update>


    <select id="getIngredientInfoById" parameterType="String" resultMap="ingredientResultMap">
        /* 특정회원 조회 */
        SELECT
        i.ingredient_code
        ,i.member_id
        ,i.ingredient_category_code
        ,i.ingredient_name
        ,i.reg_time
        ,i.update_time
        ,i.delete_time
        FROM
        ingredient_registration AS i
        WHERE
        i.ingredient_code = #{ingredientCode};
    </select>



    <insert id="addIngredient" parameterType="Ingredient">
        /* 재료등록 */
        INSERT INTO ingredient_registration
        (ingredient_code, member_id, ingredient_name, ingredient_category_code, reg_time)
        VALUES
        (#{ingredientCode}, #{memberId}, #{ingredientName}, #{ingredientCategoryCode}, SYSDATE());
    </insert>



    <select id="getIngredientList" resultMap="ingredientResultMap">
        /* 재료 목록 조회 */
        SELECT
        ingredient_code
        ,member_id
        ,ingredient_category_code
        ,ingredient_name
        ,reg_time
        ,update_time
        ,delete_time

        FROM
        ingredient_registration
    </select>











</mapper>