<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team03.admin.mapper.MessageManagementMapper">
    <resultMap id="messageManagementResultMap" type="MessageManagement">
        <id     column="message_management_code"            property="messageManagementCode"/>
        <result column="message_code"                       property="messageCode"/>
        <result column="member_id"                          property="memberId"/>
        <result column="member_id2"                         property="memberId2"/>
        <result column="message_details"                    property="messageDetails"/>
        <result column="message_send_time"                  property="messageSendTime"/>
        <result column="message_delete_time"                property="messageDeleteTime"/>
        <result column="message_delete_sortation"           property="messageDeleteSortation"/>
    </resultMap>

    <delete id="removeMessageManagementById" parameterType="String">
        /* 상세메세지삭제 */
        DELETE
        FROM
        message_management
        WHERE
        message_management_code = #{messageManagementCode}
    </delete>
    <delete id="removeMessageManagementListById" parameterType="String">
        /*  상세메세지 이력 삭제 */
        DELETE
        FROM
        message_management
        WHERE
        message_management_code = #{messageManagementCode}
    </delete>

    <select id="getMessageManagementInfoById" parameterType="String" resultMap="messageManagementResultMap">
        /* 특정메세지조회 */
        SELECT
        me.message_management_code
        ,me.message_code
        ,me.member_id
        ,me.member_id2
        ,me.message_details
        ,me.message_send_time
        ,me.message_delete_time
        FROM
        message as e
        WHERE
        e.message_code = #{messageCode};
    </select>

    <select id="getMessageManagementList" resultMap="messageManagementResultMap">
        /* 메세지 목록 조회 */
        SELECT
        message_management_code
        ,message_code
        ,member_id
        ,member_id2
        ,message_details
        ,message_send_time
        ,message_delete_time
        FROM
        message_management
    </select>





</mapper>