<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_default}">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/admin/css/pjc2.css}">
</head>
<th:block layout:fragment="customJs">
  <script th:src="@{/js/jquery-3.6.4.js}"></script>
  <script>
    $('#resetBtn').click(function (){
      history.go(-1);
    });
  </script>
</th:block>

<th:block layout:fragment="customContents">
  <form id="modifyRecipeForm" th:action="@{/admin/recipe/modifyRecipe}" method="post">

    <table th:object="${recipeInfo}">
      <tbody>
      <tr>
        <td class="labeltd">
          <label for="recipeName">레시피이름</label>
        </td>
        <td>
          <input type="text" id="recipeName" th:value="*{recipeName}" name="recipeName" placeholder="레시피 등록회원아이디를 입력해 주세요"/>
        </td>
      </tr>
      <tr>
        <td class="labeltd">
          <label for="memberId">레시피등록아이디</label>
        </td>
        <td colspan="2">
          <input type="text" id="memberId" th:value="*{memberId}" name="memberId" placeholder="레시피등록아이디를 입력해 주세요"/>
        </td>
      </tr>
      <tr>
        <td class="labeltd">
          <label for="recipeCal">레시피칼로리</label>
        </td>
        <td colspan="2">
          <input type="text" id="recipeCal" th:value="*{recipeCal}" name="recipeCal"/>
        </td>
      </tr>
      <tr>
        <td class="labeltd">
          <label for="recipeStep1">요리순서1</label>
        </td>
        <td colspan="2">
          <input type="text" id="recipeStep1" th:value="*{recipeStep1}" name="recipeStep1"/>
        </td>
      </tr>
      <tr>
        <td class="labeltd">
          <label for="recipeStep2">요리순서2</label>
        </td>
        <td colspan="2">
          <input type="text" id="recipeStep2" th:value="*{recipeStep2}" name="recipeStep2"/>
        </td>
      </tr>
      <tr>
        <td class="labeltd">
          <label for="recipeStep3">요리순서3</label>
        </td>
        <td colspan="2">
          <input type="text" id="recipeStep3" th:value="*{recipeStep3}" name="recipeStep3"/>
        </td>
      </tr>

      <tr>
        <td class="labeltd">
          <label for="fileIdx">음식 썸네일</label>
        </td>
        <td colspan="2">
          <input type="file" id="fileIdx" th:value="*{fileIdx}" name="fileIdx"/>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit" id="submitBtn">레시피수정</button>
          <button type="button" id="resetBtn">입력취소</button>
        </td>
      </tr>
      </tbody>
    </table>
  </form>

</th:block>
</html>