<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_default}">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/admin/css/pjc.css}">
</head>
<th:block layout:fragment="customContents">
  <table>
    <thead>
    <tr>
      <th>레시피코드</th>
      <th>레시피이름</th>
      <th>레시피카테코리코드</th>
      <th>레시피등록아이디</th>
      <th>레시피칼로리</th>
      <th>레시피양</th>
      <th>등록일자</th>
      <th>수정일자</th>
      <th>이미지주소</th>
      <th>조회수</th>
      <th>추천수</th>
      <th>레시피사용횟수</th>
      <th>수정</th>
      <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:unless="${recipeList == null}" th:each=" l : ${recipeList}">
      <td th:text="${l.recipeCode}"></td>
      <td th:text="${l.recipeName}"></td>
      <td th:text="${l.recipeCategoryCode}"></td>
      <td th:text="${l.memberId}"></td>
      <td th:text="${l.recipeCal}"></td>
      <td th:text="${l.recipeQuantity}"></td>
      <td th:text="${l.regDate}"></td>
      <td th:text="${l.updateAt}"></td>
      <td th:text="${l.imageUrl}"></td>
      <td th:text="${l.viewCount}"></td>
      <td th:text="${l.recommendationCount}"></td>
      <td th:text="${l.recipeUseNumber}"></td>
      <td>
        <a th:href="@{/admin/recipe/modifyRecipe(recipeCode=${l.recipeCode})}">수정</a>
      </td>
      <td>
        <a th:href="@{/admin/recipe/removeRecipe(recipeCode=${l.recipeCode})}">삭제</a>
      </td>
    </tr>
    <tr th:if="${recipeList == null}">
      <td colspan="14">등록된 레시피가 없습니다</td>
    </tr>



    </tbody>
  </table>
</th:block>
</html>