<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_default}">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/admin/css/pjc.css}"/>
  <th:block layout:fragment="customJs">
    <script th:inline="javascript">

      /**
       * 전체 선택
       */
      $('#allCheck').click(function () {
        $('.checks').prop('checked', $(this).prop('checked'));
      });
      $('.checks').click(function () {
        let length = $('.checks').length;
        let checkedLength = $('.checks:checked').length;
        if (length == checkedLength) {
          $('#allCheck').prop('checked', true);
        } else {
          $('#allCheck').prop('checked', false);
        }
      });
      /**
       * 체크박스 선택 후 deleteBtn 버튼
       */
      $('#delCheckBtn').click(function () {

        const checkedArr = $('.checks:checked');
        console.log(checkedArr);

        let length = checkedArr.length;

        const valueArr = [];
        let msg = '삭제하시겠습니까?';

        if (length == 0) {
          alert("선택된 항목이 없습니다.");
        } else {
          let result = confirm(msg);

          if (result == true) {

            $(checkedArr).each(function () {
              valueArr.push($(this).attr('value'));
            });
            console.log(valueArr);

            let request = $.ajax({
              url: '/admin/removeCheckedInquiry',
              method: 'POST',
              data: {valueArr: valueArr},
              dataType: 'json'
            });

            request.done(function (result) {
              if (result) {
                alert('삭제되었습니다.');
                location.reload();
              }
            });

            request.fail(function (jqXHR, textStatus) {
              alert(`Request failed: ${textStatus}`);
            });
          } else {
            location.reload();
          }
        }
      });
      $('#datatable-custom').DataTable({
        pagination: true,
        searching: true,
        lengthChange: true,
        dom: "<'row'<'col-sm-12 col-md-6'f><'col-sm-12 col-md-6'>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"
      });
    </script>
  </th:block>

  <style>
    #container {
      padding: 0 20px;
    }

  </style>
</head>

<script th:inline="javascript">
  let msg = [[${msg}]];
  if (msg) alert(msg);
</script>

<th:block layout:fragment="customContents">
  <div id="container">
    <h1>문의사항 게시판</h1>
    <br>
    <button type="submit" id="delCheckBtn" class="btn btn-secondary btn-icon-split">
      <span class="text">선택삭제</span>
    </button>

    <div class="row">
      <div class="col-sm-12">
        <div class="card-box table-responsive">
          <div class="col-sm-12">
            <div class="dataTables_wrapper container-fluid dt-bootstrap no-footer"
                 id="datatable-buttons_wrapper">

              <br>
              <table aria-describedby="datatable-buttons_info"
                     class="table table-striped table-bordered dataTable no-footer dtr-inline"
                     id="datatable-custom" role="grid"
                     style="width: 100%;">
                <thead>
                <tr>
                  <th><input type="checkbox" id="allCheck"></th>
                  <th>No</th>
                  <th>문의사항번호</th>
                  <th>문의사항 카테고리</th>
                  <th>문의사항 제목</th>
                  <th>작성자</th>
                  <th>글등록시간</th>
                </tr>
                </thead>
                <tbody>
                <tr th:unless="${inquiryList == null}" th:each=" l : ${inquiryList}">
                  <td><input class="checks" type="checkbox" th:value="${l.inquiryBoardCode}"></td>
                  <th th:text="${lStat.count}"></th>
                  <td th:text="${l.inquiryBoardCode}"></td>
                  <td th:text="${l.inquiryTypeCode}"></td>
                  <td>
                    <a th:href="@{/user/inquiryContent(inquiryBoardCode=${l.inquiryBoardCode})}"
                       th:text="${l.inquiryBoardTitle}"></a>
                  </td>
                  <td th:text="${l.memberId}"></td>
                  <td th:text="${l.inquiryBoardRegTime}"></td>
                </tr>
                <tr th:if="${inquiryList == null}">
                  <td colspan="7">등록된 문의사항이 없습니다.</td>
                </tr>

                </tbody>
              </table>
              <br><br>
              <div th:include="~{/admin/search/admin_search :: adminInquirySearchFragment}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>

</html>