<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_default}">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/admin/css/pjc.css}" />

  <style>
    .write-button {
      text-align: right;
      margin-top: 30px;
    }

    .write-button a {
      display: inline-block;
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s;
    }

    .write-button a:hover {
      background-color: #0062cc;
    }
  </style>
</head>

<th:block layout:fragment="customContents">
  <div id="container">
    <h1>금칙어 등록</h1>
    <table class="table-center" >
      <thead>
      <tr>
        <th>금칙어 코드</th>
        <th>금칙어 리스트</th>
        <th>삭제</th>
      </tr>
      </thead>
      <tbody>
      <tr th:unless="${bannedWordsList == null}" th:each=" l : ${bannedWordsList}">
        <td th:text="${l.bannedWordsCode}"></td>
        <td th:text="${l.bannedWordList}"></td>
        <td>
          <a th:if="${session.SID == null}"></a>
          <a th:unless="${session.SID == null or session.SID != 'id1'}"
             th:href="@{#}">삭제</a>
        </td>
      </tr>
      <tr th:if="${bannedWordsList == null}">
        <td colspan="7">등록된 금칙어가 없습니다.</td>
      </tr>

      </tbody>
    </table>
    <div class="write-button">
      <a th:if="${session.SID == null}"></a>
      <a th:unless="${session.SID == null or session.SID != 'id1'}"
         th:href="@{/user/addNotice}">금칙어 등록</a>
    </div>
  </div>
</th:block>
</html>