@charset "UTF-8";

table{
	border: 1px solid black;
	width: 600px;
	table-layout: auto;
	text-align: center;
}
th {
	border: 1px solid black;
	background-color: cornflowerblue;
	color : azure;
	height : 30px;
}
td {
	border: 1px solid black;
	height: 30px;
}
input{
	width: 95%;
	height: 80%;
	padding-left: 10px;
}
input::placeholder {
  color: red;
  font-style: italic;
}
select{
	width: 99%;
	height: 90%;
	text-align: center;
	text-align-last: center;
}
button:not(#submitBtn, #resetBtn){
	width: 98%;
	height: 90%;
}
#submitBtn, #resetBtn{
	width: 47%;
}
#submitBtn{
	margin-right: 30px;
}
.labeltd{
	background-color: cornflowerblue;
	color: white;
	font-weight: bold;
	font-size: larger;
}
		